.card-spacing
  padding 20px
.card
  cursor pointer
  figcaption
    background-color #f2f2f2
    padding 20px
    font-size 20px
    .price
      text-align right
      color #53a318
  .image
    position relative
    .info
      position absolute
      top 10px
      left 0
      width 100%
      span
        color white
        padding 10px
        background-color: green
